body{
    background-color: tomato;
    height:100%;
}
html{
    height: 150%;
}

.container{
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
}

.item{
    width:100px;
    height:100px;
    margin:5px;
    background-color:floralwhite;
}